<div class="buffer-error">
  <div class="item">
    <h2 class="text-danger">Error</h2>
    <h4 class="text-danger">Page Not Found :(</h4>
    <h6 class="text-info">Sorry, but the page you have requested could not be found. Please enter a valid TV show or go back to main.</h6>
    <a href="/"><h4 class="btn btn-outline-info"><strong>Go To Main Page</strong></h4></a>
  </div>
</div>