<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shows</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/bootstrap.css">
</head>
<body id="body">
  <nav class="navbar navbar-dark bg-black">
  <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Show Gallery</a>
      </div>
    </div>
  </nav>
  <div class="container ">
    <div class="jumbotron bg-search row-md-3">
      <h3 class="text-center search">Search For A TV Show</h3>
      <form class="form-group" action="/" method="POST">
        <input type="text" name="search" class="form-control input-sm" placeholder="Search">
        <input type="submit" class="btn btn-info" value="Search" hidden>
      </form>
    </div>
  </div>